<!DOCTYPE html>
<html lang="en">


<body>

    <main class="site-main">

        <!--================ Hero banner start =================-->
        <section class="hero-banner">
            <div class="container">
                <div class="row no-gutters align-items-center pt-60px">
                    <div class="col-5 d-none d-sm-block">
                        <div class="hero-banner__img">
                            <img class="img-fluid mb-5" src="/img/home/myHeroBanner.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                        <div class="hero-banner__content">
                            <h4>Shop online right here with us!</h4>
                            <h1>Check out our exclusive product</h1>
                            <p>It is fun to have you shopping with us at Aroma store, we will do our best to provide you a top notch service you have never experienced</p>
                            <a class="button button-hero" href="#">Shop Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--================ Hero banner end =================-->
        <!-- ================ offer section start ================= -->

        <section class="offer" id="parallax-1" data-anchor-target="#parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="offer__content text-center">
                            <h3>Up To 90% Off</h3>
                            <h4>Winter Sale Right Here</h4>
                            <p>Join our Rewards Comunity now!</p>
                            <a class="button button--active mt-3 mt-xl-4" href="#">Sale</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ================ offer section end ================= -->

    </main>


</body>
</html>